

<div class="container" ng-controller="AnalysisController" >
<!--<div class="container" ng-init="initiateApp(); ng-init="initiateLeaflet(); " ng-controller="AptsController">-->
	<div id="banner">
		
		<div class="col-lg-12">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" id='top_header'>
				<h1 >Prisutveckling</h1>
				<p> Utgår ifrån ca 45 000 slutförda lägenhetsaffärer mellan 40 och 80 kvm.<br> Dubbelklicka på den stadsdel i graferna nedan så visas endast detta område.</p>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div id="price_development_percent" ></div>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div id="price_development_absolute" ></div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>

