

<div class="container" ng-controller="AnalysisController" >
<!--<div class="container" ng-init="initiateApp(); ng-init="initiateLeaflet(); " ng-controller="AptsController">-->
	<div id="banner">
		
		<div class="col-lg-12">
			<div class="col-lg-1"></div>
			<div class="col-lg-10" id='top_header'>
				<h1 >Prisutveckling</h1>
				<p> Utgår ifrån ca 70 000 slutförda lägenhetsaffärer.<br> Dubbelklicka på det område du vill visa i menyn nedan</p>
			</div>
			<div class="col-lg-1"></div>
		</div>
		<div class="col-lg-12">
			<div class="col-lg-1"></div>
			<div class="col-lg-10">
				<div id="price_development" ></div>
			</div>
			<div class="col-lg-1"></div>
		</div>
	</div>
</div>

