
<div >
	<div  id="mapid_sanity"></div>
</div>
<div class="container" ng-controller="AptSanityController">

<div class="col-md-12">
	</br>
	<div class="col-md-4">
		<br>
		
	</div>
	
</div>

<div class="col-md-12">
	<div class="col-md-8">
		<div id='analysis_graph'></div>
	</div>
		
	<div class= "form col-md-4">
	<br><br>
	<label> Ange pris och kvm på lägenheten du vill jämföra mot </label>
		<form novalidate class="raw-input">
			<label> Pris: <input type="text" ng-model="apt.price" class="form-control" />
			</label>
			</br>
			<label> Antal Kvaderatmeter: <input type="text" ng-model="apt.m2" class="form-control"/>
			</label>
			</br>
			<input class="btn" type="submit" ng-click="update(apt)" Value="Beräkna" />
		</form>
		</br>
		</br>

		</br>
	</div>
</div>