<div class="container" ng-controller="AptSanityController">

<div class="col-md-12">
	</br>
	<div class="col-md-4">
		<br>
		<label> Markera på kartan området lägenheten ligger i </label>
		
		<div class= "form" ng-controller="AptSanityInputController"
			<form novalidate class="raw-input">
				<label> Pris: <input type="text" ng-model="apt.price" class="form-control" />
				</label>
				</br>
				<label> Antal Kvaderatmeter: <input type="text" ng-model="apt.m2" class="form-control"/>
				</label>
				</br>
				<input class="btn" type="submit" ng-click="update(apt)" Value="Beräkna" />
			</form>
			</br>
			</br>
			<!-- <table class="table table-striped">
				<tr>
					<th> Pris / m2 </th>
				 	<th> Pris </th>
				 	<th> Antal kvaderatmeter </th>
				</tr>
				<tr>
					<td> {{ResPricePerM2}} </td>
					<td> {{apt.price}} </td>
					<td> {{apt.m2}} </td>
				</tr>
			</table> -->
			</br>
		</div>
	</div>
	<div class="col-md-8">
		<div id='analysis_graph'></div>
	</div>
</div>

<div class "outermap" ng-controller="AptSanityVisualizerController">
	<div class="col-md-6" id="mapid"></div>
</div>